@{ 
    Layout = null;
} 
<link href="~/Content/ApprovePost.css" rel="stylesheet" />
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="approve-post-tab" data-toggle="tab" href="#approve-post-container" role="tab" aria-controls="nav-home" aria-selected="true">Phê duyệt</a>
              <a class="nav-item nav-link" id="restore-post-tab" data-toggle="tab" href="#restore-post-container" role="tab" aria-controls="nav-profile" aria-selected="false">Hoàn tác</a>
              
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="approve-post-container" role="tabpanel">
                <h5 class="my-4">Phê duyệt bài đăng</h5>

                <!--One card-->
                <div class="container">
                    <div class=" rounded border mb-4 p-2" >
                        <div class="post-wrapper row px-3">
                            <div class="post-image-thumb"></div>
                            <div class="post-info col-12 col-lg-9">
                                <div class="post-top-part">
                                    <span class="post-title"> Phòng trọ ngõ 169 Cầu Giấy Hà Nội aaaa he lo woo hii abccc ddd xxxxuzz  hjsjsjsjs
                                        Phòng trọ ngõ 169 Cầu Giấy Hà Nội aaaa he lo woo hii abc </span>
                                    <span class="post-area">30m2</span>
                                    <span class="post-price">2,5 triệu/tháng</span>
                                </div>
                                <span class="post-user">Nguyễn Mạnh Hùng</span>
                                <span class="post-datetime">17/12/20 12:12 </span>
                                
                                
                            </div>
                        </div>
                        
                        <div class="confirm-bar text-right">
                            <div class="btn btn-primary">Phê duyệt</div>
                            <div class="btn btn-secondary ml-3">Từ chối</div>
                        </div>
                    </div>  
                </div>

                <!--End card-->
               
            </div>
            <div class="tab-pane fade" id="restore-post-container" role="tabpanel">
                <h5 class="my-4">Hoàn tác bài đăng</h5>

                <!--One card-->
                <div class="container">
                    <div class=" rounded border mb-4 p-2" >
                        <div class="post-wrapper row px-3">
                            <div class="post-image-thumb"></div>
                            <div class="post-info col-12 col-lg-9">
                                <div class="post-top-part">
                                    <span class="post-title"> Phòng trọ ngõ 169 Cầu Giấy Hà Nội aaaa he lo woo hii abccc ddd xxxxuzz  hjsjsjsjs
                                        Phòng trọ ngõ 169 Cầu Giấy Hà Nội aaaa he lo woo hii abc </span>
                                    <span class="post-area">30m2</span>
                                    <span class="post-price">2,5 triệu/tháng</span>
                                </div>
                                <span class="post-user">Nguyễn Mạnh Hùng</span>
                                <span class="post-datetime">17/12/20 12:12 </span>
                                
                                
                            </div>
                        </div>
                        
                        <div class="confirm-bar text-right">
                            <div class="btn btn-primary">Hoàn tác</div>
                            
                        </div>
                    </div>  
                </div>

                <!--End card-->
                
                
            </div>
            
        </div>