<link href="~/Content/AdminPostManager.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<div class="admin-page-container container rounded border mx-auto row" style="margin-top: 50px; margin-bottom: 50px;">

    <div class="col-3 web-sidebar" style="position: relative; border-right: 1px solid #eee;">
        <div class="sticky-sidebar">
            <div class="sidebar-header">
                <h3>Quản lý </h3>
            </div>

            <nav id="sidebar">

                <ul class="list-unstyled components">

                    <li class="nav-item-big">
                        <a href="#post-menu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Bài đăng</a>
                        <ul class="collapse show list-unstyled nav nav-pills" id="post-menu">
                            <li class="nav-item">
                                <a id="approve-post" class="nav-link" data-toggle="pill" href="#">
                                    <span class="pill-span">Bài đăng chờ duyệt</span>
                                    
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="approved-post" class="nav-link" data-toggle="pill" href="#">
                                    <span class="pill-span">Bài đăng đã duyệt</span>
                                   
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="denied-post" class="nav-link" data-toggle="pill" href="#">
                                    <span class="pill-span">Bài đăng đã huỷ</span>
                                   
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="approve-purchase" class="nav-link" data-toggle="pill" href="#">
                                    <span class="pill-span">Phê duyệt gia hạn</span>
                                  
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="approve-comment" class="nav-link" data-toggle="pill" href="#">
                                    <span class="pill-span">Phê duyệt bình luận</span>
                                   
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item-big">
                        <a href="#account-menu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Tài khoản</a>
                        <ul class="collapse show list-unstyled nav nav-pills" id="account-menu">
                            <li class="nav-item">
                                <a id="approve-account" class="nav-link" data-toggle="pill" href="#">
                                    <span class="pill-span">Tài khoản chờ duyệt</span>
                                    
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="approved-account" class="nav-link" data-toggle="pill" href="#">
                                    <span class="pill-span">Tài khoản đã duyệt</span>
                                    
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item-big">
                        <a href="#statistic-menu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Thống kê</a>
                        <ul class="collapse show list-unstyled nav nav-pills" id="statistic-menu">
                            <li class="nav-item">
                                <a id="most-viewed-post" class="nav-link" data-toggle="pill" href="#">Bài đăng được xem nhiều nhất</a>
                            </li>
                            <li class="nav-item">
                                <a id="most-liked-post" class="nav-link" data-toggle="pill" href="#">Bài đăng được thích nhiều nhất</a>
                            </li>
                            <li class="nav-item">
                                <a id="time-most-post" class="nav-link" data-toggle="pill" href="#">Phân tích thời gian đăng bài</a>
                            </li>
                        </ul>
                    </li>

                    


                </ul>
            </nav>

        </div>
    </div>
    <div class="content col-9" id="content-container">

    </div>

</div>
<script>
    $(".nav-item-big").click(function () {
        if ($(this).find("ul").hasClass("show")) {
            $(this).find("a").removeClass("active");
        }
        $(this).siblings().find("a").removeClass("active");
    });
    $(".nav-link").click(function () {
        $(this).parents(".nav-item-big").siblings().find("a").removeClass("active");
    });

    ////////////////////////////// Bài đăng

    //chưa duyệt

    $("#approve-post").click(function () {
        $("#content-container").load("/AdminManager/ApprovePost");
    });


    //đã duyệt
    $("#approved-post").click(function () {
        $("#content-container").load("/AdminManager/ApprovedPost");
    });

    //đã từ chối
    $("#denied-post").click(function () {
        $("#content-container").load("/AdminManager/RefusedPost");
    });
    //phê duyệt gia hạn
    $("#approve-purchase").click(function () {
        $("#content-container").load("/AdminManager/ApprovePurchase");
    });

    //duyệt bình luận
    $("#approve-comment").click(function () {
        $("#content-container").load("/AdminManager/ApproveComment");
    });

    ///////////////////////////////// Tài khoản

    //chưa duyệt
    $("#approve-account").click(function () {
        $("#content-container").load("/AdminManager/ApproveAccount");
    });

    //đã duyệt
    $("#approved-account").click(function () {
        $("#content-container").load("/AdminManager/ApprovedAccount");
    });
    //đã từ chối
    $("#denied-account").click(function () {
        $("#content-container").load("/AdminManager/RefusedAccount");
    });


    ///////////////////////////Thống kê


    // bài viết nhiều view nhất
    $("#most-viewed-post").click(function () {
        $("#content-container").load("/AdminManager/ApproveAccount");
    });
    //bài viết nhiều like nhất
    $("#most-liked-post").click(function () {
        $("#content-container").load("/AdminManager/ApproveAccount");
    });
    //phân tích thời gian đăng
    $("#time-most-post").click(function () {
        $("#content-container").load("/AdminManager/ChartBasedOnTimePosting");
    });




    $("#messages").click(function () {
        $("#content-container").load("/AdminManager/ApproveAccount");
    });
</script>