<link href="~/Content/AdminPostManager.css" rel="stylesheet" />
<div class="admin-page-container container rounded border mx-auto row" style="margin-top: 50px; margin-bottom: 50px;">

    <div class="col-3 web-sidebar" style="position: relative; border-right: 1px solid #eee;">
        <div class="sticky-sidebar">
            <div class="sidebar-header">
                <h3>Quản lý </h3>
            </div>
            
            <nav id="sidebar">

                <ul class="list-unstyled components">

                    <li class="nav-item-big">
                        <a href="#post-menu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Bài đăng</a>
                        <ul class="collapse show list-unstyled nav nav-pills" id="post-menu">
                            <li class="nav-item">
                                <a id="approve-post" class="nav-link" data-toggle="pill" href="#">
                                    <span class="pill-span">Bài đăng chờ duyệt</span>
                                    <span class="badge badge-danger badge-admin">100</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="approved-post" class="nav-link" data-toggle="pill" href="#">
                                    <span class="pill-span">Bài đăng đã duyệt</span>
                                    <span class="badge badge-danger badge-admin">100</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="denied-post" class="nav-link" data-toggle="pill" href="#">
                                    <span class="pill-span">Bài đăng đã huỷ</span>
                                    <span class="badge badge-danger badge-admin">101</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="approve-comment" class="nav-link" data-toggle="pill" href="#">
                                    <span class="pill-span">Phê duyệt bình luận</span>
                                    <span class="badge badge-danger badge-admin">101</span>
                                </a>
                            </li>
                            
                        </ul>
                    </li>
                    <li class="nav-item-big">
                        <a href="#account-menu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Tài khoản</a>
                        <ul class="collapse show list-unstyled nav nav-pills" id="account-menu">
                            <li class="nav-item">
                                <a id="approve-account" class="nav-link" data-toggle="pill" href="#">
                                    <span class="pill-span">Tài khoản chờ duyệt</span>
                                    <span class="badge badge-danger badge-admin">101</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="approved-account" class="nav-link" data-toggle="pill" href="#">
                                    <span class="pill-span">Tài khoản đã duyệt</span>
                                    <span class="badge badge-danger badge-admin">101</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="denied-account" class="nav-link" data-toggle="pill" href="#">
                                    <span class="pill-span">Tài khoản đã xoá</span>
                                    <span class="badge badge-danger badge-admin">101</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item-big">
                        <a href="#statistic-menu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Thống kê</a>
                        <ul class="collapse show list-unstyled nav nav-pills" id="statistic-menu">
                            <li class="nav-item">
                                <a id="most-viewed-post" class="nav-link" data-toggle="pill" href="#">Bài đăng được xem nhiều nhất</a>
                            </li>
                            <li class="nav-item">
                                <a id="most-liked-post" class="nav-link" data-toggle="pill" href="#">Bài đăng được thích nhiều nhất</a>
                            </li>
                            <li class="nav-item">
                                <a id="time-most-post" class="nav-link" data-toggle="pill" href="#">Phân tích thời gian đăng bài</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item-big" style="position: relative;">
                        <a id="report-post" href="#">
                            <span class="pill-span">Báo cáo vi phạm </span>
                            <span class="badge badge-danger badge-admin">50</span>
                        </a>
                    </li>


                </ul>
            </nav>
            
        </div>
    </div>
    <div class="content col-9" id="content-container">

    </div>

</div>
<script>



    $(".nav-item-big").click(function () {
        if ($(this).find("ul").hasClass("show")) {
            $(this).find("a").removeClass("active");
        }
        $(this).siblings().find("a").removeClass("active");
    });
    $(".nav-link").click(function () {
        $(this).parents(".nav-item-big").siblings().find("a").removeClass("active");
    });



    $("#messages").click(function () {
        $("#content-container").load("/Manager/ApproveAccount");
    });


    $("#approve-account").click(function () {
        $("#content-container").load("/Manager/ApproveAccount");
    });

    $("#approve-post").click(function () {
        $("#content-container").load("/Manager/ApprovePost");
    });

    $("#approve-purchase").click(function () {
        $("#content-container").load("/Manager/ApprovePurchase");
    });

    $("#approve-comment").click(function () {
        $("#content-container").load("/Manager/ApproveComment");
    })
</script>