@{
    ViewBag.Title = "Quản lý bài đăng";
}
<link href="~/Content/AdminPostManager.css" rel="stylesheet" />
<link href="~/Content/HostManager.css" rel="stylesheet" />
<div class="admin-page-container container rounded border mx-auto row" style="margin-top: 50px; margin-bottom: 50px;">

    <div class="col-3 web-sidebar" style="position: relative; border-right: 1px solid #eee;">
        <div class="sticky-sidebar">
            <div class="sidebar-header">
                <h3>Quản lý </h3>
            </div>
            <nav id="sidebar">

                <ul class="list-unstyled components">

                    <li class="nav-item-big active">
                        <a id="host-manager-post" href="javascript:void(0)">Bài đăng</a>
                    </li>

                    <li class="nav-item-big">
                        <a href="javascript:void(0)">Thanh toán</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="content col-9" id="content-container" style="min-height:500px;">
        @{Html.RenderAction("Post", "HostManager");}
    </div>

</div>
<script>



    $(".nav-item-big").click(function () {
        if ($(this).attr("aria-expanded", "true")) {
            $(this).find("a").removeClass("active");
        }
        $(this).siblings().find("a").attr("aria-expanded", "false");
        //$(this).siblings().find("ul").removeClass("show");
        if (!$(this).hasClass("active")) {
            $(this).addClass("active");
            $(this).siblings().removeClass("active");
        }
    });


    $("#host-manager-post").click(function () {
        $("#content-container").load("/HostManager/Post");
    });
</script>