<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EasyAccomod</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body class="bg-white">
    <div id="header" class="container-fluid fixed-top px-1" style="padding: 0; background: white; border-bottom: 1px solid lightgrey">
        <div class="row h-100" style="margin: 0">
            <div id="side-nav" class="fa fa-bars col-1 ml-2 align-self-center" onclick="ToggleSideNav()"></div>

            <div class="col-5 col-sm-2  align-self-center text-left text-sm-center">
                <a href="/" id="logo">
                    <img src="~/Picture/ealogo.png" style="width: 150px; height: auto; min-height: 40px;">
                </a>
            </div>

            <div class="col-1 col-sm-5 offset-lg-2 offset-sm-0 align-self-center" id="top-collapse">
                <ul id="acc-menu" class="nav row justify-content-end">

                    <li class="col-4 text-right"><a href="/Home/AdvancedSearch">Tìm kiếm nâng cao</a></li>

                    @if (Session["userid"] == null)
                    {

                        <li class="col-4 text-right"><a href="/Account/SignIn">Đăng nhập</a></li>
                    }
                    else
                    {

                        <li class="col-4" style="white-space: nowrap; display: inline-block;">
                            <i class="fas fa-user mr-2"></i>


                            <a href="#" role="button" id="username-display" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Session["fullname"]
                            </a>

                            <div class="dropdown-menu" aria-labelledby="username-display">
                                <a class="dropdown-item" href="#">Trang cá nhân</a>
                                @{
                                    int usertype;
                                    if (int.TryParse(Session["usertype"].ToString(), out usertype) && (usertype == 1 || usertype == 2))
                                    {
                                        <a class="dropdown-item" href="/HostManager">Bài viết đã đăng</a>
                                    }

                                    if (usertype == 1)
                                    {
                                        <a class="dropdown-item" href="/AdminManager">Quản lý/Phê duyệt bài đăng</a>
                                    }
                                }
                                <a class="dropdown-item" href="/Account/SignOut">Đăng xuất</a>
                            </div>

                        </li>
                                    }
                </ul>
            </div>
            <div class="col-4 col-sm-3 offset-0 offset-sm-1 offset-lg-0  align-self-center pr-3">
                <ul id="navbar-user" class="nav row justify-content-end mr-3 mr-sm-0">
                    <li class="col-3 col-sm-2 align-self-center"><a href="/" class="text-decoration-none"><i class="fa fa-heart"></i></a></li>
                    <li class="col-3 col-sm-2 align-self-center"><a href="/"><i class="fa fa-bell"></i></a></li>
                    @{
                        int usertype1;
                        if (Session["usertype"] == null || (int.TryParse(Session["usertype"].ToString(), out usertype1) && (usertype1 == 1 || usertype1 == 2)))
                        {
                            <li class="col-6 col-sm-6 col-lg-4 align-self-center  "><button class="btn btn-sm text-nowrap" data-toggle="modal" data-target="#exampleModal" id="btn-dang-tin">Đăng tin</button></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <script>
        $("body").ready(function () {
            $("#btn-dang-tin").click(function () {
                $("#exampleModal>.modal-dialog.modal-xl").load("/Post/CreatePost");
                            });
            $('#exampleModal').on('hidden.bs.modal', function (e) {
                $("#exampleModal>.modal-dialog.modal-xl").empty();
                            })
        })
    </script>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog modal-xl"></div></div>
        @RenderBody()

        <div class="container-fluid w-100" id="footer" style="background-color: #e9e9e9;">
            <div class="row px-3 px-lg-2 py-2">
                <div class="col-12 col-lg-9 order-lg-2">
                    <ul class="row text-center p-2" style="list-style-type: none;">
                        <li class="footer-right-parent col-4">
                            <h3 class="footer-title">Thuê nhà Hà Nội</h3>
                            <ul class="footer-home-type">
                                <li>Phòng trọ</li>
                                <li>Chung cư mini</li>
                                <li>Nhà nguyên căn</li>
                                <li>Chung cư nguyên căn</li>
                            </ul>

                        </li>
                        <li class="footer-right-parent col-4">
                            <h3 class="footer-title">Thuê nhà Hà Nội</h3>
                            <ul class="footer-home-type">
                                <li>Phòng trọ</li>
                                <li>Chung cư mini</li>
                                <li>Nhà nguyên căn</li>
                                <li>Chung cư nguyên căn</li>
                            </ul>
                        </li>
                        <li class="footer-right-parent col-4">
                            <h3 class="footer-title">Thuê nhà Hà Nội</h3>
                            <ul class="footer-home-type">
                                <li>Phòng trọ</li>
                                <li>Chung cư mini</li>
                                <li>Nhà nguyên căn</li>
                                <li>Chung cư nguyên căn</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="row text-center p-2" style="list-style-type: none;">
                        <li class="footer-right-parent col-4">
                            <h3 class="footer-title">Thuê nhà Hà Nội</h3>
                            <ul class="footer-home-type">
                                <li>Phòng trọ</li>
                                <li>Chung cư mini</li>
                                <li>Nhà nguyên căn</li>
                                <li>Chung cư nguyên căn</li>
                            </ul>

                        </li>
                        <li class="footer-right-parent col-4">
                            <h3 class="footer-title">Thuê nhà Hà Nội</h3>
                            <ul class="footer-home-type">
                                <li>Phòng trọ</li>
                                <li>Chung cư mini</li>
                                <li>Nhà nguyên căn</li>
                                <li>Chung cư nguyên căn</li>
                            </ul>
                        </li>
                        <li class="footer-right-parent col-4">
                            <h3 class="footer-title">Thuê nhà Hà Nội</h3>
                            <ul class="footer-home-type">
                                <li>Phòng trọ</li>
                                <li>Chung cư mini</li>
                                <li>Nhà nguyên căn</li>
                                <li>Chung cư nguyên căn</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-3 text-left order-lg-1">
                    <div class="row">
                        <ul class="col-12 col-md-4 col-lg-12 pl-1 pl-lg-5" style="list-style-type: none;">
                            <li style="font-family: 'Nerko One', cursive; font-size: 30px; color: #00DEB6;">EasyAccomod</li>
                            <li><i class="fa fa-phone"></i> 0996699996</li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <a class="text-decoration-none text-dark" href="mailto:easyaccomod@gmail.com"> easyaccomod@gmail.com</a>
                            </li>

                            <li class="social-icon mt-2">
                                <a href="#"><i class="fab fa-facebook" style="color: #39579a;"></i></a>
                                <a href="#"><i class="fab fa-youtube" style="color: #dc2217;"></i></a>
                                <a href="#"><i class="fab fa-instagram" style="color: #d6249f;"></i></a>
                            </li>

                        </ul>
                        <div class="col-12 col-md-6 col-lg-12 py-2 pl-1 pl-lg-5" style="padding-left: 5px;">
                            <h3 style="font-size: 14px; font-weight: 700;" class="mt-2">CÔNG TY CỔ PHẦN ACCOMODCORP</h3>
                            <p>EasyAccomod là hệ thống tìm nhà trọ đơn giản được lập ra và vận hành bởi AccomodCorp - một công ty chuyên về dịch vụ nhà ở cho thuê.</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
</body>
</html>