@{
    ViewBag.Title = "Trang cá nhân";
}

@model EasyAccomod.Models.AccountModel
<style>

    .homepage-container {
        width: 75%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }


    .host-info {
        display: block;
    }



    .host-name {
        font-weight: 600;
        cursor: pointer;
    }
</style>
<div class="homepage-container container rounded border mx-auto my-5 row" style="min-height: 500px;">



    <div class="host-info col-12 col-lg-4 order-1 order-lg-3" style="position: relative;">
        <div id="host-name-sticky" class="container mt-3 rounded border py-3" style="position: sticky; top: 20px;">
            <div class="row">
                <div class="col-3 text-center"><i class="fa fa-user" style="font-size: 20px;"></i></div>
                <div class="col-9"><span class="host-name">@Model.FullName</span></div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <span><i class="fa fa-phone"></i> @Model.Phone</span>
                </div>
                <div class="col-12">
                    <span>
                        <i class="fa fa-envelope"></i>
                        <a class="text-decoration-none text-dark" href="mailto:@Model.Email"> @Model.Email</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="homepage-post col-12 col-lg-8 bg-secondary order-2" style="height: 1300px;">
        <h5>Bài đăng của @Model.FullName:</h5>

    </div>
</div>
<hr>