<div id="main" class="container-fluid">
    <div id="slide-menu">
        <ul>

            <li><a href="/"><i class="fa fa-chevron-circle-right"></i>Tìm thuê</a></li>


            <li><a href="/"><i class="fa fa-chevron-circle-right"></i>Đăng nhập</a></li>

        </ul>
    </div>
    <div id="picture" class="container-fluid">
        <div id="overlay"></div>
        <h1 id="title">Tìm nhà trọ thích hợp</h1>
        @Html.Partial("SearchContainer")
    </div>
</div>
<script>
    function ToggleSideNav() {
        if ($("#slide-menu").hasClass("slide-menu-active")) {
            $("#slide-menu").removeClass("slide-menu-active");
            return;
        }
        $("#slide-menu").addClass("slide-menu-active");
    }
    $(window).resize(function () {
        if (window.innerWidth > 576) {
            $("#slide-menu").removeClass("slide-menu-active");
        }
    })
</script>
<script src="~/Scripts/address.control.js"></script>