<div id="main" class="container-fluid">
    <div id="slide-menu">
        <ul>

            <li><a href="/"><i class="fa fa-chevron-circle-right"></i>Tìm thuê</a></li>


            <li><a href="/"><i class="fa fa-chevron-circle-right"></i>Đăng nhập</a></li>

        </ul>
    </div>
    <div id="picture" class="container-fluid">
        <div id="overlay"></div>
        <h1 id="title">Tìm nhà trọ thích hợp</h1>
        <div id="top-search" class="container pt-2 px-2 px-sm-5">
            <div id="search-bar" class="h-50 mx-auto mt-5 px-2 pt-3">
                <div id="search-keyword" class="w-100 mx-auto bg-white h-25 mt-3">
                    <i class="fa fa-search"></i>
                    <input type="text" id="text-search" placeholder="Từ khoá">
                    <div class="btn-search">Tìm kiếm</div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function ToggleSideNav() {
        if ($("#slide-menu").hasClass("slide-menu-active")) {
            $("#slide-menu").removeClass("slide-menu-active");
            return;
        }
        $("#slide-menu").addClass("slide-menu-active");
    }
    $(window).resize(function () {
        if (window.innerWidth > 576) {
            $("#slide-menu").removeClass("slide-menu-active");
        }
    })
</script>