<div id="main" class="container-fluid">
    <div id="slide-menu">
        <ul>

            <li><a href="/Home/AdvancedSearch"><i class="fa fa-chevron-circle-right"></i>Tìm kiếm nâng cao</a></li>


            <li><a href="~/Views/Account/SignIn"><i class="fa fa-chevron-circle-right"></i>Đăng nhập</a></li>

        </ul>
    </div>
    <div id="picture" class="container-fluid">
        <div id="overlay"></div>
        <h1 id="title">Tìm nhà trọ thích hợp</h1>
        @Html.Partial("SearchContainer")
    </div>
</div>
<div class="container-fluid w-100 my-5" id="content-container">
    <h4 class="mx-5 mb-5">Khu vực lớn</h4>
    <div class="container row w-100 justify-content-around mx-auto" id="big-city-container">
        <div class="col-9 col-lg-5 bg-danger rounded big-city py-3 px-3  text-white " id="hanoi-city">
            <a style="color: white" href="/ha-noi/tat-ca-bds">Hà Nội</a>
        </div>
        <div class="col-9 col-lg-5 mt-5 mt-lg-0 bg-danger rounded py-3 px-3 text-white big-city " id="hochiminh-city">
            <a style="color: white" href="/ho-chi-minh/tat-ca-bds">TPHCM</a>
        </div>
    </div>
</div>
<script>
    function ToggleSideNav() {
        if ($("#slide-menu").hasClass("slide-menu-active")) {
            $("#slide-menu").removeClass("slide-menu-active");
            return;
        }
        $("#slide-menu").addClass("slide-menu-active");
    }
    $(window).resize(function () {
        if (window.innerWidth > 576) {
            $("#slide-menu").removeClass("slide-menu-active");
        }
    })
</script>
<script src="~/Scripts/address.control.js"></script>