<div id="main" class="container-fluid">
    
    <div id="picture" class="container-fluid">
        <div id="overlay"></div>
        <h1 id="title">Tìm nhà trọ thích hợp</h1>
        @Html.Partial("SearchContainer")
    </div>
</div>
<div class="container-fluid w-100 my-5" id="content-container">
    <h4 class="mx-5 mb-5">Khu vực lớn</h4>
    <div class="container row w-100 justify-content-around mx-auto" id="big-city-container">
        <a style="color: white; text-decoration:none" href="/ha-noi/tat-ca-bds" class="col-9 col-lg-5 bg-danger rounded big-city py-3 px-3  text-white " id="hanoi-city">
            <span  >Hà Nội</span>
        </a>
        <a style="color: white; text-decoration:none" href="/ho-chi-minh/tat-ca-bds" class="col-9 col-lg-5 mt-5 mt-lg-0 bg-danger rounded py-3 px-3 text-white big-city " id="hochiminh-city">
            <span >TPHCM</span>
        </a>
    </div>
</div>
<script>
    
</script>
<script src="~/Scripts/address.control.js"></script>