@model EasyAccomod.Models.SearchResultModel
@{
    Layout = null;
    ViewBag.Title = "Tìm kiếm - " + Model.SearchInfo.KeyWord;
}

<ul>
    @if (Model.Result != null)
    {
        foreach (var post in Model.Result)
        {
            <li>
                <span>post.Title</span>
                <span>post.Content</span>
            </li>
        }
    }
</ul>