@model EasyAccomod.Models.SearchModel

<div id="top-search" class="container pt-2 px-2 px-sm-5">

    <div id="search-bar" class="mx-auto mt-5 px-2 py-3" style="min-height: 50%;">
        @using (Html.BeginForm("Search", "Home"))
        {

            <div id="search-keyword" class="w-100 mx-auto bg-white h-25 mt-3" style="margin-bottom: 10px">

                <i class="fa fa-search"></i>
                <input id="text-search" class="py-2" name="keyWord" placeholder="Từ khoá" />
                <button class="btn-search">Tìm kiếm</button>
            </div>
            <div id="filter-container" style="position: relative; z-index: 10">

                <div class="row w-100 mx-auto" id="filter-row">
                    <div class="col-6 col-lg-3">
                        <select class="type-filter form-control" name="Type">
                            <option value="0">Tất cả loại BĐS</option>
                            <option value="1">Phòng trọ</option>
                            <option value="2">Chung cư mini</option>
                            <option value="3">Nhà nguyên căn</option>
                            <option value="4">Chung cư nguyên căn</option>
                        </select>
                    </div>
                    <div class="col-6 col-lg-3">
                        <select class="city-filter form-control" name="CityId">
                            <option value="0">Toàn quốc</option>
                        </select>
                    </div>
                    <div class="col-6 col-lg-3 mt-2 mt-lg-0">
                        <select class="district-filter form-control" name="DistrictId" disabled>
                            <option value="0">Chọn Quận/Huyện</option>

                        </select>
                    </div>
                    <div class="col-6 col-lg-3 mt-2 mt-lg-0">
                        <select class="ward-filter form-control" name="WardId" disabled>
                            <option value="0">Chọn Phường/Xã</option>
                        </select>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

