@model EasyAccomod.Models.AccountModel

<!--Đổi mật khẩu-->

 <div class="row mt-4">
     <label for="password" class="col-4">Mật khẩu</label>
     <input type="password" id="password" name="password" class="col-7 col-sm-6">

 </div>
 <span class="msg text-danger">
    <!----mật khẩu sai-->
 </span>
 <div class="row mt-4">
    <label for="retype-password" class="col-4">Nhập lại mật khẩu</label>
    <input type="password" id="retype-password" name="retype-password" class="col-7 col-sm-6">

</div>
<span class="msg text-danger">
    <!----nhập lại mk sai-->
</span>
<div class="row">
    <div class="col-12">
     <input type="checkbox" id="show-password">
     <label for="show-password">Hiện mật khẩu</label>
     </div>
 </div>
<div class="row mt-5 justify-content-center">

    <button class="btn btn-primary">Đổi mật khẩu</button>
    <span class="col-12 text-center text-success mt-3">
    <!----Đổi mk thành công-->
    </span>


</div>
<div class="row justify-content-center">

</div>

<!--Đổi mật khẩu-->