@{
    ViewBag.Title = "Chỉnh sửa thông tin";
}

@model EasyAccomod.Models.AccountModel
<link href="~/Content/UserInfo.css" rel="stylesheet" />

<div class="container mt-5 rounded" id="edit-info-container" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="row h-100 justify-content-between">
        <div class="col-4 h-100 shadow bg-white rounded" style="padding:0">
            <div class="w-100 row" style="height: 100px; min-height: 100px; margin: 0;flex-wrap: nowrap;">
                <div class="col-3 h-100 align-items-center row justify-content-center" style="margin: 0;">
                    <i class="fas fa-user-circle"></i>
                </div>
                <div id="user-display-name-wrapper" class="col-9 h-100 align-items-center row" style="margin: 0;">
                    <span id="user-display-name">@Model.FullName</span>
                </div>
            </div>
            <div class="w-100 row" style="margin: 0; height: 200px; user-select:none">
                <nav id="info-sidebar">

                    <ul class="list-unstyled components">

                        <li id="user-information" class="nav-item py-2 px-1 px-lg-5 active">
                            Thông tin cá nhân

                        </li>
                        <li id="change-password" class="nav-item py-2 px-1 px-lg-5">
                            Đổi mật khẩu

                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-8 col-sm-7 h-100 bg-white shadow rounded px-0 px-sm-2 pt-5">
            <div id="form-edit-info" class="mt-5 px-0 px-sm-2">
            </div>
        </div>
    </div>

    </div>
    <script>
        // <h3>Model.FullName</h3>
        // Html.Partial("UserInformation", Model)

        $("#info-sidebar ul li").click(function () {
            $(this).addClass("active");
            $(this).siblings().removeClass("active");
        });
        $("#show-password").change(function () {
            if (this.checked) {
                $("#NewPassword").attr("type", "text");
                $("#RetypeNewPassword").attr("type", "text");
            }
            else {
                $("#NewPassword").attr("type", "password");
                $("#RetypeNewPassword").attr("type", "password");
            }
        });
        $("#form-edit-info").load("/EditInfo/UserInformation");

        $("#user-information").click(function () {
            $("#form-edit-info").load("/EditInfo/UserInformation");
        });
        $("#change-password").click(function () {
            $("#form-edit-info").load("/EditInfo/ChangePassword");
        });
    </script>
